    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span [routerLink]="['/devis']" class="block text-500 font-medium mb-3" style="cursor: pointer;">Devis</span>
                        <div class="text-900 font-medium text-xl">{{numberOfDevis}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-200 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i [routerLink]="['/devis']" class="pi pi-envelope text-purple-800 text-xl" style="cursor: pointer;"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{numberOfDevisLast30Days}} </span>
                <span class="text-500">this month</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span [routerLink]="['/technicien']" class="block text-500 font-medium mb-3" style="cursor: pointer;">Techniciens</span>
                        <div class="text-900 font-medium text-xl">{{numberOfAgence}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-200 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i [routerLink]="['/technicien']" class="pi pi-truck text-green-800 text-xl" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span [routerLink]="['/agence']" class="block text-500 font-medium mb-3" style="cursor: pointer;">Agences</span>
                        <div class="text-900 font-medium text-xl">{{ numberOfTechnicien }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-200 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i [routerLink]="['/agence']" class="pi pi-building text-blue-800 text-xl" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span [routerLink]="['/facture']" class="block text-500 font-medium mb-3" style="cursor: pointer;">Factures</span>
                        <div class="text-900 font-medium text-xl">{{numberOfFacture}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i [routerLink]="['/facture']" class="pi pi-file text-orange-500 text-xl" style="cursor: pointer;"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{numberOfFactureLast30Days}} </span>
                <span class="text-500">this month</span>
            </div>
        </div>


        <div class="col-12 xl:col-6">


            <div class="card">
                <h5>Linear Chart</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Agencies Devis Percentages</h5>
                </div>
                <ul class="list-none p-0 m-0">
                    <li *ngFor="let agency of agencyDevisPercentages" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ agency.agencyName }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-blue-800 h-full" [ngStyle]="{width: agency.percentage + '%'}"></div>
                            </div>
                            <span class="text-blue-800 ml-3 font-medium">{{ agency.percentage.toFixed(2) }}% Devis</span>
                        </div>
                    </li>
                </ul>
            </div>



        </div>



        <div class="col-12 xl:col-6">



            <div class="card">
                <h5>Sales Overview</h5>
                <p-chart type="line" [data]="barData" [options]="barOptions"></p-chart>
            </div>


            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Technicien Devis Percentages</h5>
                </div>
                <ul class="list-none p-0 m-0">
                    <li *ngFor="let tech of techDevisPercentages" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ tech.techName }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-800 h-full" [ngStyle]="{width: tech.percentage + '%'}"></div>
                            </div>
                            <span class="text-green-800 ml-3 font-medium">{{ tech.percentage.toFixed(2) }}% Devis</span>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>

